body {
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px 1fr 100px;
    padding-right: 100px;
    font-family: 'Montserrat', sans-serif;
}

header {
    grid-area: header;
    height: 102px;
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF4655;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "description product social";
    grid-template-columns: 380px 1fr 48px;
    padding-left: 100px;
    background-color: chartreuse;
}

footer {
    grid-area: footer;
    background-color: plum;
}